################################################################################
# Github Magento Ignore
################################################################################
src/magento2/.htaccess.sample
src/magento2/.modgit/
src/magento2/.modman/
src/magento2/app/code/community/Phoenix/Moneybookers/
src/magento2/app/code/community/Cm/RedisSession/
src/magento2/app/code/core/
src/magento2/app/design/adminhtml/default/default/
src/magento2/app/design/frontend/base/
src/magento2/app/design/frontend/rwd/
src/magento2/app/design/frontend/default/blank/
src/magento2/app/design/frontend/default/default/
src/magento2/app/design/frontend/default/iphone/
src/magento2/app/design/frontend/default/modern/
src/magento2/app/design/frontend/enterprise/default
src/magento2/app/design/install/
src/magento2/app/etc/modules/Enterprise_*
src/magento2/app/etc/modules/Mage_*.xml
src/magento2/app/etc/modules/Phoenix_Moneybookers.xml
src/magento2/app/etc/modules/Cm_RedisSession.xml
src/magento2/app/etc/applied.patches.list
src/magento2/app/etc/config.xml
src/magento2/app/etc/enterprise.xml
src/magento2/app/etc/local.xml.additional
src/magento2/app/etc/local.xml.template
src/magento2/app/etc/local.xml
src/magento2/app/.htaccess
src/magento2/app/bootstrap.php
src/magento2/app/locale/en_US/
src/magento2/app/Mage.php
src/magento2/cron.php
src/magento2/cron.sh
src/magento2/dev/.htaccess
src/magento2/dev/tests/functional/
src/magento2/downloader/
src/magento2/errors/
src/magento2/favicon.ico
src/magento2/get.php
src/magento2/includes/
src/magento2/index.php
src/magento2/index.php.sample
src/magento2/install.php
src/magento2/js/blank.html
src/magento2/js/calendar/
src/magento2/js/enterprise/
src/magento2/js/extjs/
src/magento2/js/firebug/
src/magento2/js/flash/
src/magento2/js/index.php
src/magento2/js/jscolor/
src/magento2/js/lib/
src/magento2/js/mage/
src/magento2/js/prototype/
src/magento2/js/scriptaculous/
src/magento2/js/spacer.gif
src/magento2/js/tiny_mce/
src/magento2/js/varien/
src/magento2/lib/3Dsecure/
src/magento2/lib/Apache/
src/magento2/lib/flex/
src/magento2/lib/googlecheckout/
src/magento2/lib/.htaccess
src/magento2/lib/LinLibertineFont/
src/magento2/lib/Mage/
src/magento2/lib/PEAR/
src/magento2/lib/Pelago/
src/magento2/lib/phpseclib/
src/magento2/lib/Varien/
src/magento2/lib/Zend/
src/magento2/lib/Cm/
src/magento2/lib/Credis/
src/magento2/lib/Magento/
src/magento2/LICENSE_AFL.txt
src/magento2/LICENSE.html
src/magento2/LICENSE.txt
src/magento2/LICENSE_EE*
src/magento2/mage
src/magento2/media/
src/magento2/api.php
src/magento2/nbproject/
src/magento2/pear
src/magento2/pear/
src/magento2/php.ini.sample
src/magento2/pkginfo/
src/magento2/RELEASE_NOTES.txt
src/magento2/shell/.htaccess
src/magento2/shell/abstract.php
src/magento2/shell/compiler.php
src/magento2/shell/indexer.php
src/magento2/shell/log.php
src/magento2/sitemap.xml
src/magento2/skin/adminhtml/default/default/
src/magento2/skin/adminhtml/default/enterprise
src/magento2/skin/frontend/base/
src/magento2/skin/frontend/rwd/
src/magento2/skin/frontend/default/blank/
src/magento2/skin/frontend/default/blue/
src/magento2/skin/frontend/default/default/
src/magento2/skin/frontend/default/french/
src/magento2/skin/frontend/default/german/
src/magento2/skin/frontend/default/iphone/
src/magento2/skin/frontend/default/modern/
src/magento2/skin/frontend/enterprise
src/magento2/skin/install/
src/magento2/var/


################################################################################
# Magento default Ignore
################################################################################
src/magento2/.buildpath
src/magento2/.cache
src/magento2/.metadata
src/magento2/.project
src/magento2/.settings
atlassian*
src/magento2/nbproject
src/magento2/sitemap
src/magento2/sitemap.xml
src/magento2/.idea
src/magento2/.gitattributes
src/magento2/app/config_sandbox
src/magento2/app/etc/config.php
src/magento2/app/etc/env.php
src/magento2/app/code/Magento/TestModule*
src/magento2/lib/internal/flex/uploader/.actionScriptProperties
src/magento2/lib/internal/flex/uploader/.flexProperties
src/magento2/lib/internal/flex/uploader/.project
src/magento2/lib/internal/flex/uploader/.settings
src/magento2/lib/internal/flex/varien/.actionScriptProperties
src/magento2/lib/internal/flex/varien/.flexLibProperties
src/magento2/lib/internal/flex/varien/.project
src/magento2/lib/internal/flex/varien/.settings

src/magento2/pub/media/*.*
!src/magento2/pub/media/.htaccess
src/magento2/pub/media/catalog/*
!src/magento2/pub/media/catalog/.htaccess
src/magento2/pub/media/customer/*
!src/magento2/pub/media/customer/.htaccess
src/magento2/pub/media/downloadable/*
!src/magento2/pub/media/downloadable/.htaccess
src/magento2/pub/media/import/*
!src/magento2/pub/media/import/.htaccess
src/magento2/pub/media/theme/*
src/magento2/pub/media/theme_customization/*
!src/magento2/pub/media/theme_customization/.htaccess
src/magento2/pub/media/wysiwyg/*
!src/magento2/pub/media/wysiwyg/.htaccess
src/magento2/pub/media/tmp/*
!src/magento2/pub/media/tmp/.htaccess
src/magento2/pub/media/captcha/*
src/magento2/pub/static/*
!src/magento2/pub/static/.htaccess

src/magento2/var/*
!src/magento2/var/.htaccess
src/magento2/vendor/*
!src/magento2/vendor/.htaccess


################################################################################
# Node Ignore
################################################################################

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity


################################################################################
# App Ignore
################################################################################

.DS_Store

!src/magento2/pub/media/wysiwyg/megamenu
