.page-header {
    background: #003459;
}

.nav-toggle:before,
.block-search .label:before,
.minicart-wrapper .action.showcart:before {
    color: #fff;
}

.nav-toggle:hover:before,
.block-search .label:hover:before,
.minicart-wrapper .action.showcart:hover:before {
    color: #ccc;
}

@media screen and (min-width: 768px) {
    .nav-sections,
    .nav-sections .navigation {
        background: #1979c3;
        color: #fff;
        font-size: 12px;
    }

    .navigation .level0 > a.level-top {
        color: #fff;
        line-height: 40px;
    }

    .navigation .level0 > a.level-top:hover,
    .navigation .level0 > a.level-top.ui-state-focus {
        color: #ddd;
    }

    .navigation .level0.active > a.level-top,
    .navigation .level0.has-active > a.level-top {
        border: 0;
        background: #fff;
    }

    .header.content {
        display: flex;
    }

    .block-search {
        width: 100% !important;
        margin: 0 3rem;
        order: 1;
    }

    .minicart-wrapper {
        order: 2;
    }

    .block-search input {
        border: 0;
        border-radius: 3px;
    }
}
